*{
    padding: 0;
    margin: 0;
  }
  .wheel-container {
    width: 100%;
    height: 100%;
    padding: 150px 0 0 363px;
    background-image: url('../../../public/bg.png');
  }
  .content {
    padding: 20px 20px 0;
    margin: auto 0;
    background-color:rgba(138, 56, 3,0.4); 
    width: 400px;;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
  }
  .content p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 20px;
    color: #000;
    font-family: 'lixukexingshu1b969ad7dc1c3e5';
    font-weight: normal;
    /* font-size: 100px; */
  }
  .content p:nth-of-type(5){
    background-color: #753f06;
    cursor: pointer;
    color: #fff
  }
